# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Clean Loom caches
        run: |
          rm -rf ~/.gradle/caches/fabric-loom
          rm -rf .gradle/loom-cache

      - name: Build
        run: ./gradlew build --stacktrace --info --refresh-dependencies
